header{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 2px;

}
nav li a{
    color: #000;
    text-decoration: none;
}
nav li a.active{
    background-color: #04AA6D;
    color: white;
}

nav li a:hover:not(.active){
    background-color: #555;
    color: white;
}

/* class A specifications */
nav ul.a{
    list-style: none;
    display: flex;
    padding: 0;
}
 nav ul.a li{
    margin-right: 10px;
}

ul.a img{
    width: 20px;
    height: 20px;
    padding: 0;
}

ul.a button{
    background-color:lightskyblue;
}

ul.a button:hover{
    background-color: antiquewhite;

}

/* class B specifications */
ul.b{
    list-style: none;
    padding: 0;
}


/*header2 content----------------------------------------------------------------*/