/*Main header*/
header nav ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header nav li{
    float: left;
    border-right: 1px solid #bbb;
}

header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

header nav li a:hover:not(.active) {
    background-color: #111;
  }
  
header nav .active {
    background-color: #04AA6D;
  }





/*Header 2...................................................................*/
header2 nav ul{
    list-style-type: none;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: #333;
}

header2 nav li{
    float: left;
    border-right: 1px solid #bbb;
}

header2 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

header2 nav li a:hover:not(.active) {
    background-color: #111;
  }
  
header2 nav a:active {
    background-color: #04AA6D;
  }

  header2 nav li #search{
    margin: 10px;
  }




/*Main content..............................................................*/